<mat-card>
  <mat-card-title>Nova valuta</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput type="number" placeholder="Zvanicna sifra" formControlName="zvanicnaSifra">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Naziv" formControlName="naziv">
      </mat-form-field>
      <mat-form-field>
        <input type="number" matInput placeholder="Sifra drzave" formControlName="drzavaId">
        <mat-icon matSuffix (click)="onSelectDrzava()">zoom_in</mat-icon>
      </mat-form-field>
      <section>
        <mat-checkbox formControlName="domicilna">Domicilna</mat-checkbox>
      </section>
      <button type="submit" mat-raised-button color="primary">Dodaj</button>
    </form>
  </mat-card-content>
</mat-card>

<app-table [tableInfo]="tableInfo"></app-table>
